{% extends 'EcomApp/hbase.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{%if product_in_cart%}
	<div class="container">
		<div class="card col-md-6 mx-auto">
			<h2 class="bg-secondary text-white text-center border-rounded p-2 m-2">Checkout Form</h2>
			<form method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="name">Email:</label>
				{% render_field addressForm.Email class="form-control" placeholder="Email" %}
			</div>
			<div class="form-group">
				<label for="name">Mobile:</label>
				{% render_field addressForm.Mobile class="form-control" placeholder="Mobile" %}
			</div>
			<div class="form-group">
				<label for="name">Shipment Address:</label>
				{% render_field addressForm.Address id="field5" class="form-control field-textarea" placeholder="Building Number,city, pin" %}
			</div>
			<div class="form-group">
				<input type="submit" value="Checkout" class=" form-control btn btn-outline-success">
			</div>
			</form>
		</div>
	</div>
{%else%}
<br><br>
<h1 style="text-align:center; color:red;"> First Add Product In Cart </h1>
{%endif%}

{% endblock content %}
