<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% include "EcomApp/nav.html" %}
    <div class="container">
    <div class="row">
        <div class="card col-md-6 mx-auto mt-3 shadow-lg border-success">
            <div class="card-body">
                <form class="box" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                    <h1 class="bg-dark text-center text-white border rounded">SIGNUP</h1>
                    
                      {% render_field userForm.first_name class="form-control border-success mt-2" placeholder="First Name" %}
                      {% render_field userForm.last_name class="form-control border-success mt-2" placeholder="Last Name" %}
                      {% render_field userForm.username class="form-control border-success mt-2" placeholder="Username" %}
                      {% render_field userForm.password class="form-control border-success mt-2" placeholder="Password" %}
                      {% render_field customerForm.address class="form-control border-success mt-2" placeholder="Address" %}
                      {% render_field customerForm.mobile class="form-control border-success mt-2" placeholder="Mobile" %}
                      {% render_field customerForm.profile_pic class="form-control border-success mt-2" placeholder="Profile pic" %}
                  
                     <input type="submit" name="" value="Create" class="form-control btn btn-success btn-block mt-2">

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
